.wstlr-img {
  width: 380px;
  height: 500px;
  object-fit: cover;
}
.wstlr-container {
  width: 380px;
  height: min-content;
}
.abt-wstlr {
  margin-top: 0px;
}
.wstlr-name {
  margin: 0px;
  font-size: 25px;
}

.wstlr-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.counter-container {
  display: flex;
  gap: 10px;
}
.like-dislike {
  font-size: 20px;
}
.new-wstlr-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
}
.route-container{
  margin : 20px;
}